<div class="jumbotron center">
	<h1>Welcome to my App!</h1>
	<p>Pinteresting is not a real app, it's just a sandbox. Enjoy!</p>
	<p><%= link_to "Log In", "#", class: "btn btn-default" %>   <%= link_to "Sign Up", "#", class: "btn btn-primary" %></p>
</div>
