<div class="jumbotron center">
	<h1>Welcome to my App!</h1>
	<p>Pinteresting is not a real app, it's just a sandbox. Enjoy!</p>
	<p><%= link_to "Sign Up Here!", "#", class: "btn btn-primary" %></p>
</div>
